<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebCitas</display-name>
  <welcome-file-list>
    <welcome-file>ServletConexion</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletConexionAdmin</display-name>
    <servlet-name>ServletConexionAdmin</servlet-name>
    <servlet-class>controlador.ServletConexionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConexionAdmin</servlet-name>
    <url-pattern>/ServletConexionAdmin</url-pattern>
  </servlet-mapping>
</web-app>